
:root{
    --contact-me-template-color: rgb(46, 46, 255);
}

#contact-me{
    width: 100%;
    box-sizing: border-box;
    padding: 2vw;
    position: relative;
    margin: 2vw 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact-me::before{
    content: '';
    width: 70vw;
    aspect-ratio: 3;
    background: rgb(46, 46, 255);
    position: absolute;
    top: -1vw;
    left: 15vw;
    z-index: -2;
    border-radius: 3vw;
}

#contact-me::after{
    content: '';
    width: 34vw;
    aspect-ratio: 1.5;
    position: absolute;
    top: 2vw;
    left: 32.45vw;
    border-top-left-radius: 3vw;
    border-top-right-radius: 3vw;
    z-index: -2;
}

#contact-me form{
    width: 30vw;
    padding: 2vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.2vw solid black;
    border-radius: 3vw;
    background: white;
    z-index: 2;
}

.input-field{
    padding: 0;
    margin: 0;
    position: relative;
}

.input-field :is(input,textarea){
    width: 25vw;
    aspect-ratio: 7;
    margin: 1vw 0;
    border-radius: 2.5vw;
    box-sizing: border-box;
    border: 2px solid gray;
    position: relative;
    background: transparent;
    padding: 0 1.8vw;
    font-size: 1.3vw;
    outline: 0;
    z-index: 4;
}

#contact-me-message{
    aspect-ratio: 2.5;
    resize: none;
    padding: 1vw 1.8vw;
}

#contact-me-message::-webkit-scrollbar{
    display: none;
}

.input-field label{
    position: absolute;
    left: 2vw;
    top: 2vw;
    font-size: 1.4vw;
    color: gray;
    transition: top 0.1s ease;
    z-index: 3;
}

.input-field :is(input,textarea):focus{
    border: 0.2vw solid var(--contact-me-template-color);
}

.input-field :is(input,textarea):focus ~ label{
    font-size: 1.1vw;
    top: 0.3vw;
    background: white;
    padding: 0 0.2vw;
    color: var(--contact-me-template-color);
    z-index: 4;
}

.input-field :is(input,textarea):not(:focus):not(:placeholder-shown) ~ label{
    color: gray;
    font-size: 1.1vw;
    top: 0.3vw;
    background: white;
    padding: 0 0.2vw;
    z-index: 4;
}

#contact-me-submit-button{
    width: 25vw;
    aspect-ratio: 7;
    color: white;
    margin: 1vw 0;
    border-radius: 2.5vw;
    box-sizing: border-box;
    font-size: 1.3vw;
    font-weight: 700;
    border: 0;
    background: linear-gradient(to right, #5d8dfd, #1ca1ff);
}

#contact-me-number-input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

.contact-me-submit-message{
    display: none;
    padding: 2vw;
    font-size: 1.4vw;
    font-weight: 500;
    border-radius: 1vw;
    position: fixed;
    top: 5vw;
    right: 3vw;
    animation: anim 0.1s linear forwards;
}

#success{
    background: rgb(181, 230, 181);
    color: green;
    border: 0.15vw solid green;
}

#failure{
    background: rgb(253, 192, 192);
    color: red;
    border: 0.15vw solid red;
}

@keyframes anim {
    0%{
        right: 0vw;
    }
    100%{
        right: 3vw;
    }
}