.gridwrapper{
    border: 0.1vw solid black;
    width: 55vw;
    aspect-ratio: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vw;
    border-radius: 2vw;
    box-shadow: 0 0 1.5vw black;
    position: relative;
    background: white;
    box-sizing: border-box;
}

.grid{
    background: white;
    width: 100%;
    display: grid;
    padding: 0.5vw;
    gap: 0.5vw;
}

.grid-item{
    position: relative;
    aspect-ratio: 1;
    border-radius: 0.15vw;
}

.grid-item::before{
    content: '';
    width: 12%;
    height: 70%;
    background: rgb(255, 255, 255, 0.2);
    position: absolute;
    top: 15%;
    left: 10%;
    border-radius: 5rem;
}

.grid-item::after{
    content: '';
    width: 50%;
    height: 12%;
    background: rgb(255, 255, 255, 0.2);
    position: absolute;
    bottom: 10%;
    left: 10%;
    border-radius: 5rem;
}