.App{
    width: 100%;
    background: linear-gradient(45deg, #f0f8ff 0%, #e0ffff 20%, #f0f8ff 40%, #e0ffff 60%, #f0f8ff 80%, #e0ffff 100%);
}

.mainbody{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 5vw 0;
}